<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Women</string>
	<string>Men</string>
	<string>Childen</string>
	<string>Gilrds</string>
	<string>T-Shirt</string>
	<string>Coat</string>
	<string>Bag</string>
	<string>Shope</string>
	<string>Jean</string>
	<string>Cheat</string>
</array>
</plist>
