<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>Add delivery address</string>
		<key>imageName</key>
		<string>address</string>
	</dict>
	<dict>
		<key>text</key>
		<string>VoicePrint</string>
		<key>imageName</key>
		<string>synthesics</string>
	</dict>
	<dict>
		<key>text</key>
		<string>Clean cache</string>
		<key>imageName</key>
		<string>clean</string>
	</dict>
	<dict>
		<key>text</key>
		<string>Version update</string>
		<key>imageName</key>
		<string>version</string>
	</dict>
</array>
</plist>
